@import url('http://fonts.cdnfonts.com/css/pecita');
/* ARTICLES SECTION */

.article-section {
  /* height: 1190px; */
  padding-top: 50px;
  padding-bottom: 50px;
}

.article-head {
  font-family: var(--head-font);
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 50px;
}

.all-articles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.article-con {
  display: flex;
  transition: all 0.2s ease-in;

  /* new */
  width: 614.4px;
}
.shadows {
  transition: all 0.2s ease-in;
  filter: grayscale(100%);
}

.article-con:hover {
  box-shadow: -10px -10px 0px 2px #00000054 inset;
}

.shadows:hover {
  box-shadow: 2px 11px 0rem 2px rgb(0 0 0 / 15%) inset;
  filter: none;
}

.article-con-rev {
  flex-direction: row-reverse;
  transition: all 0.2s ease-in;
}
.shadow-rev {
  transition: all 0.2s ease-in;
  filter: grayscale(100%);
}
.article-con-rev:hover {
  box-shadow: 10px -9px 0px 2px #00000054 inset;
}
.shadow-rev:hover {
  box-shadow: -10px 11px 0px 2px #00000054 inset;
  filter: none;
}

.article-con img {
  width: 20vw;
  opacity: 0.9;
}

.article-con .con {
  padding: 0px 23px;
  padding-bottom: 20px;
  text-align: center;
  font-family: var(--article-con-font);
  font-size: 0.9rem;
}
