.edgelines1::before {
  content: '';
  position: absolute;
  height: 141.5vh;
  width: 0.1vw;
  background-color: rgba(209, 209, 209, 0.534);
  left: 8vw;
}

.edgelines2::before {
  content: '';
  position: absolute;
  height: 141.5vh;
  width: 0.1vw;
  background-color: rgba(209, 209, 209, 0.534);
  right: 8vw;
}
