@import url('http://fonts.cdnfonts.com/css/caviar-dreams');
@import url('http://fonts.cdnfonts.com/css/geo-sans-light');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

/* variables */
:root {
  --head-font: 'Caviar Dreams', sans-serif;
  --content-font: 'GeosansLight', sans-serif;
  --article-con-font: 'Cutive Mono', monospace;
}

.edgelines1::before {
  content: '';
  position: absolute;
  height: 238.5vh;
  /* min-height: 100%; */
  width: 0.1vw;
  background-color: rgba(209, 209, 209, 0.534);
  left: 8vw;
}

.edgelines2::before {
  content: '';
  position: absolute;
  height: 238.5vh;
  width: 0.1vw;
  background-color: rgba(209, 209, 209, 0.534);
  right: 8vw;
}
.edgelines-h::before {
  content: '';
  position: absolute;
  height: 0.1vh;
  width: 150vw;
  background-color: rgba(209, 209, 209, 0.534);
  top: 10vh;
}

.max-width-s {
  width: 80vw;
}

.max-width-b {
  width: 92vw;
}

.m-auto {
  margin: auto;
}

.btn {
  padding: 0px 10px;
  background-color: black;
  font-family: var(--content-font);
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.btn:hover {
  background-color: rgb(212, 211, 211);
  color: rgb(59, 59, 59);
}
