@import url('http://fonts.cdnfonts.com/css/caviar-dreams');
@import url('http://fonts.cdnfonts.com/css/geo-sans-light');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

/* variables */
:root {
  --head-font: 'Caviar Dreams', sans-serif;
  --content-font: 'GeosansLight', sans-serif;
  --article-con-font: 'Cutive Mono', monospace;
}

.max-width-s {
  width: 80vw;
}

.max-width-b {
  width: 92vw;
}

.m-auto {
  margin: auto;
}

.btn {
  padding: 0px 10px;
  background-color: black;
  font-family: var(--content-font);
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease-out;
}

.btn:hover {
  background-color: rgb(212, 211, 211);
  color: rgb(59, 59, 59);
}
